:root {
    --font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Home {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(90deg, rgba(18, 56, 138, 0.8), rgb(14, 117, 131) 70.71%);
    font-family: var(--font-family);
}